
.header{
    height: var(--header-heigh);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-heigh);
}
.header__navbar-list {
    margin: 4px 0;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 16px;
}
.header__navbar-item,
.header__navbar-item-link{
    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
    display: inline-block;
}

.header__navbar-item--got-QR:hover .header__navbar-qr-list{
    display: block;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item-got-notify:hover .header__navbar-notify{
    display: block;
}
.header__navbar-item-strong{
    font-weight: 500;
}
.header__navbar-item-nopoints:hover{
    cursor: text;
    color: var(--white-color);
}
.header__navbar-item-rightborder::after{
    content: "";
    position: absolute;
    right: -8px;
    top: 50%;
    width: 1px;
    height: 16px;
    background-color: #ddd;
    transform: translateY(-50%);
}
.header__navbar-icon{
    font-size: 1.6rem;
    margin: 0 3px;
}
.header__navbar-icon-link{
    color: var(--white-color);
}

/* QR code */
.header__navbar-qr-list{
    background-color: var(--white-color);
    width: 186px;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 135%;
    display: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    animation: fadeIn ease 0.3s;
}
.header__navbar-qr-list::before{
    content: "";
    display: block;
    width: 186px;
    height: 15px;
    position: absolute;
    left: 0;
    top: -6px;
}
.header__navbar-qr{
    width: 100%;
}
.header__navbar-qr-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar-qr-google{
    margin-left: 10px;
}
.header__navbar-qr-link:last-child{
    margin-right: 10px;
}
.header__navbar-qr-google,
.header__navbar-qr-story{
    width: 70px;
}
/* header-notify */
.header__navbar-notify::before{
    content: "";
    display: block;
    position: absolute;
    width: 404px;
    height: 15px;
    top: -15px;
    right: 0;
    z-index: 100;
}
.header__navbar-notify{
    position: absolute;
    top: 160%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: top right;
    animation: headerNofityGrow ease-in 0.25s;
    display: none;
    will-change: opacity,transform;
    z-index: 5;
}
.header__navbar-notify::after{
    content: "";
    border: solid;
    border-width: 15px 20px;
    border-color:transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -24px;
    right: 0px;
}
@keyframes headerNofityGrow {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.header__navbar-notify-header{
    background-color: var(--white-color);
    height: 40px;

}
.header__navbar-notify-header h3{
    color: #999;
    margin: 0;
    font-size: 1.5rem;
    line-height: 40px;
    padding-left: 7px;
    font-weight: 400;
}

.header__navbar-notify-listitems{
    padding-left: 0;
    background-color: var(--white-color);
}

.header__navbar-notify-body{

}
.header__navbar-notify-item{
    display: flex;
    padding: 5px;
    text-decoration: none;
    background-color: rgb(238 75 43 / 10%);
}
/* .header__navbar-notify-item--wieded{
    background-color: var(--while-color);
} */
.header__navbar-notify-item:hover{
    background-color: rgb(255, 255, 255);
}
.header__navbar-notify-img{
    width: 48px;
    object-fit: cover;
}

.header__navbar-notify-infor{
    padding-left: 8px;
}

.header__navbar-notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 4px;
}

.header__navbar-notify-note{
    display: block;
    font-size: 1.2rem;
    color: #333;
}

.header__navbar-notify-footer a{
    padding: 8px 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 400;
}

.modal__body{
    margin: auto;
    min-height: 400px;
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    z-index: 1;
    overflow: hidden;
    animation: growth linear 0.1s;
}

.auth-form{
    display: flex;
    flex-direction: column;
}

.auth-form__container{
    padding: 32px;
}

.auth-form__header{
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-ntb{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}


.auth-form__input{
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border:1px solid var(--border-color);
    outline: none;
    border-radius: 5px;
}
.auth-form__input:focus{
    border-color: #777;
}

.auth-form__aside{
    margin-top: 18px;
    /* check */
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link + .auth-form__help-link{
    margin-left: 20px;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form__help-pass{
    color: var(--primary-color);
    position: relative;
}

.auth-form__help-pass::after{
    content: '';
    display: block;
    width: 1px;
    height: 16px;
    background-color: #EAEAEA;
    position: absolute;
    top: 0;
    right: -10px;
}
.auth-form__help-need{
    color: var(--text-color);
}

.auth-form__policy-text{
    font-size: 1.2rem;
    text-align: center;
}

.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__controls{
    margin-top: 80px;
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
}

.btn.btn--primaty{
    background-color: var(--primary-color);
    color: #fff;
    margin-left: 15px;
    cursor: pointer;
}

.auth-form__socials{
    padding: 16px 8px;
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-between;
}

.fa-brands.fa-facebook-square{
    font-size: 1.8rem;
    color: var(--white-color);
}
.fa-brands.fa-google{
    font-size: 1.8rem;
    color: var(--black-color);
}

.btn.btn--with-icon-face{
    background-color: #3A5A98;
    color: var(--white-color);
    flex: 1;
}

.btn.btn--with-icon-google{
    flex: 1;
    background-color: #fff;
    color: var(--black-color);
}
.auth-form__socials-text{
    flex: 1;
    text-align: center;
}

/* header--with-search */

.header__with-search{
    height: var(--header-withsearch-heigh);
    display: flex;
    align-items: center;
}

.header__logo{
    width: 260px;
    display: flex;
}
.header__logo-img{
    width: 90px;
    margin: auto;
}
.header__search{
    background-color: var(--white-color);
    height: 40px;
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 5px;
}
.header__search--input-wrap{
    flex: 1;
    height: 100%;
    flex-wrap: wrap;
    position: relative;
}

.header__search--input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding-left: 16px;
    border-radius: 5px;
    font-size: 1.6rem;
}
.header__search--input:focus ~ .header__search--hisoty{
    display: block;
}
/* search--history */
.header__search--hisoty{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    background-color: var(--white-color);
    width: 92%;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    overflow: hidden;
    display: none;
}

.header__search--hisoty-heading{
    font-size: #999;
    color: var(--text-color);
    margin: 10px 18px;
    font-weight: 400;
}

.header__search--hisoty-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__search--hisoty-item{
    padding: 10px 0;
    display: block;
}

.header__search--hisoty-item:hover{
    background-color: #fafafa;
}

.header__search--hisoty-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 18px;
    display: block;
}

.header__search--selection{
    font-size: 1.4rem;
    padding: 8px 12px;
    border-left: 1px solid var(--border-color);
    color: var(--text-color);
    position: relative;
    cursor: pointer;
}

.header__search--selection:hover .header__search--option{
    display: block;
}

.header__search--selection i {
    color: #999;
}

.header__cart{
    width: 150px;
    display: flex;
    justify-content: center;
}
.header__cart-wrap{
    text-align: center;
    position: relative;
    width: 60px;
    display: flex;
    justify-content: center;
}

.header__search--search{
    width: 55px;
    height: 36px;
    border-radius: 5px;
    background-color: var(--primary-color);
    border: none;
    display: flex;
    margin-right: 2px;
}

.header__search--search:hover{
    cursor: pointer;
    background-color: #ee4c2bd5;
}
.header__search--icon{
    font-size: 1.4rem;
    margin: auto;
    color: var(--white-color);
}

.header__cart-icon{
    margin: auto;
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

.header__search--option::before{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    /* background-color: red; */
    position: absolute;
    top: -7px;
    right: 0;
}
.header__search--option{
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 6px 0;
    width: 140px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    cursor: pointer;
    animation: fadeIn linear .2s;
    display: none;
}

.header__search--option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search--option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search--option-item{
    background-color: var(--white-color);
    padding: 9px 0 9px 23px;
    display: flex;
}

.header__search--option-item:hover{
    background-color: #FAFAFA;
}

.header__search--option-item i{
    color: var(--primary-color);
    margin-left: 5px;
    display: none;
}

/* khi click vao */
.header__search--option-item-active i{
    display: inline-block;
}

.header__cart-counter{
    position: absolute;
    padding: 1px 7px;
    top: -10px;
    right: 0;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4d2d;
}

/* cart-layout */

.header__cart-list{
    position: absolute;
    top: 150%;
    right: -2px;
    width: 300px;
    min-height: 100px;
    background-color: var(--white-color);
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: none;
    animation: headerNofityGrow ease-in 0.15s;
}
.header__cart-list--no-cart .header__cart-list-img img,
.header__cart-list--no-cart .header__cart-list-infor{
    display: block;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list::before{
    content: "";
    display: block;
    border: solid;
    border-width: 15px 20px;
    border-color:transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -24px;
    right: 10px;
}

.header__cart-list::after{
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    top: -10px;
    right: 0;
}

.header__cart-list-img img{
    width: 70%;
    display: none;
    margin: auto;
}

.header__cart-list-infor{
    font-size: 1.6rem;
    padding-bottom: 10px;
    color: var(--text-color);
    display: none;
}